{% extends 'OIFCoreBundle::layout.html.twig' %}

{% block title %}Nouveau projet - Commission documentaire / série | {{ parent() }}{% endblock %}

{# CSS files #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{# Content #}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Informations du projet</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {# Les erreurs générales du formulaire. #}
                    <div class="alert alert-warning">
                        Le format unitaire est exclusivement réservé aux Documentaires. La combinaison "Série ou Animation + Unitaire" n'est pas autorisée !
                    </div>
                    {{ form_errors(form) }}
                    <div class="row">
                        {# Type d'intervention #}
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <h4>1. Type d'intervention :</h4>
                                {{ form_errors(form.typeIntervention) }}
                                {{ form_widget(form.typeIntervention) }}
                            </div>
                        </div>
                        {# Genre #}
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <h4>2. Genre :</h4>
                                {{ form_errors(form.genre) }}
                                {{ form_widget(form.genre) }}
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <hr>
                        </div>
                        {# Format #}
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <h4>3. Format :</h4>
                                {{ form_errors(form.format) }}
                                {{ form_widget(form.format) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.duree) }}
                                {{ form_widget(form.duree, {'attr': {'class': 'form-control', 'placeholder': 'Durée en minutes'} }) }}
                                {{ form_errors(form.episode) }}
                                {{ form_widget(form.episode, {'attr': {'class': 'form-control', 'placeholder': 'Nombre d\'épisodes'} }) }}
                            </div>
                        </div>
                        {# Type de support #}
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <h4>4. Type de support :</h4>
                                {{ form_errors(form.support) }}
                                {{ form_widget(form.support) }}
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <hr>
                        </div>

                        {# 5. Structure et Responsable #}
                        <div class="col-md-4 col-md-offset-1">
                            <h4>5. Structure de production :</h4>
                            {# Nom de la structure #}
                            <div class="form-group">
                                {{ form_errors(form.nomStructure) }}
                                {{ form_widget(form.nomStructure, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la structure'} }) }}
                            </div>
                            {# Type de structure #}
                            <div class="form-group">
                                <h5><b>Type de structure</b></h5>
                                {{ form_errors(form.typeStructure) }}
                                {{ form_widget(form.typeStructure) }}
                            </div>
                            {# Adresse de la structure #}
                            <div class="form-group">
                                {{ form_errors(form.adresseStructure) }}
                                {{ form_widget(form.adresseStructure, {'attr': {'class': 'form-control', 'placeholder': 'Adresse de la structure'} }) }}
                                {# Code postal de la structure #}
                                {{ form_errors(form.codePostal) }}
                                {{ form_widget(form.codePostal, {'attr': {'class': 'form-control', 'placeholder': 'Code postal de la structure'} }) }}
                                {# Ville de la structure #}
                                {{ form_errors(form.villeStructure) }}
                                {{ form_widget(form.villeStructure, {'attr': {'class': 'form-control', 'placeholder': 'Ville de la structure'} }) }}
                            </div>
                            {# Pays de la structure #}
                            <div class="form-group">
                                <h5>Pays de la structure <small>seuls les ressortissants des pays du Sud membres de l'OIF sont éligibles.</small></h5>
                                {{ form_errors(form.paysStructure) }}
                                {{ form_widget(form.paysStructure, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            {# Capital & Devise #}
                            <div class="form-group">
                                {{ form_errors(form.capital) }}
                                {{ form_widget(form.capital, {'attr': {'class': 'form-control', 'placeholder': 'Montant du capital social'} }) }}
                                {{ form_errors(form.devise) }}
                                {{ form_widget(form.devise, {'attr': {'class': 'form-control', 'placeholder': 'Devise'} }) }}
                            </div>
                            <h5><b>Responsable :</b></h5>
                            <div class="form-group">
                                {# Prénom du responsable de la structure #}
                                {{ form_errors(form.prenomResponsable) }}
                                {{ form_widget(form.prenomResponsable, {'attr': {'class': 'form-control', 'placeholder': 'Prénom du responsable de la structure'} }) }}
                                {# Nom du responsable de la structure #}
                                {{ form_errors(form.nomResponsable) }}
                                {{ form_widget(form.nomResponsable, {'attr': {'class': 'form-control', 'placeholder': 'Nom du responsable de la structure'} }) }}
                            </div>
                            {# Téléphone de la structure #}
                            <div class="form-group">
                                {{ form_errors(form.telResponsable) }}
                                {{ form_widget(form.telResponsable, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'} }) }}
                                {# Email de la structure #}
                                {{ form_errors(form.emailResponsable) }}
                                {{ form_widget(form.emailResponsable, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                            </div>
                        </div>

                        {# 6. Caractéristiques du projet #}
                        <div class="col-md-4 col-md-offset-1">
                            <h4>6. Caractéristiques du projet :</h4>
                            {# Titre du projet #}
                            <div class="form-group">
                                {{ form_errors(form.titre) }}
                                {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre du projet'} }) }}
                            </div>
                            {# Réalisateur #}
                            <div class="form-group">
                                {{ form_errors(form.realisateur) }}
                                {{ form_widget(form.realisateur, {'attr': {'class': 'form-control', 'placeholder': 'Réalisateur'} }) }}
                            </div>
                            {# Pays #}
                            <div class="form-group">
                                <h5>Nationalité du réalisateur <small>seuls les ressortissants des pays du Sud membres de l'OIF sont éligibles.</small></h5>
                                {{ form_errors(form.paysRealisateur) }}
                                {{ form_widget(form.paysRealisateur, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            {# Année de naissance du réalisateur #}
                            <div class="form-group">
                                {{ form_errors(form.anneeNaissance) }}
                                {{ form_widget(form.anneeNaissance, {'attr': {'class': 'form-control', 'placeholder': 'Année de naissance du réalisateur'} }) }}
                            </div>
                            {# dateDeb de la structure #}
                            <div class="form-group">
                                {{ form_errors(form.dateDeb) }}
                                {{ form_widget(form.dateDeb, {'attr': {'class': 'js-datepicker', 'placeholder': 'jj/mm/aaaa', 'autocomplete':'off'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.dateFin) }}
                                {{ form_widget(form.dateFin, {'attr': {'class': 'js-datepicker', 'placeholder': 'jj/mm/aaaa', 'autocomplete':'off'} }) }}
                            </div>
                            {# Coût total du projet #}
                            <div class="form-group">
                                {{ form_errors(form.coutTotal) }}
                                {{ form_widget(form.coutTotal, {'attr': {'class': 'form-control', 'placeholder': 'Coût total du projet'} }) }}
                            </div>
                            {# Montant demandé à l'OIF #}
                            <div class="form-group">
                                {{ form_errors(form.montantDemande) }}
                                {{ form_widget(form.montantDemande, {'attr': {'class': 'form-control', 'placeholder': 'Montant demandé à l\'OIF'} }) }}
                            </div>
                            {#Valider#}
                            <div class="form-group">
                                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-success pull-right'} }) }}
                            </div>
                        </div>

                        {{ form_rest(form) }}
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Javascripts files #}
{% block javascripts %}
    {% include 'OIFCoreBundle:Core:js_datePicker.html.twig' %}
{% endblock %}
