{% extends 'OIFCoreBundle::layout.html.twig' %}

{% block title %}{{ projet.titre }} - Commission documentaire / série | {{ parent() }}{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title"><b><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ projet.titre }}</b></h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Type d'intervention :</td>
                            <td>
                                {% if projet.typeIntervention == 1 %} <b>Aide à la production</b>
                                {% elseif projet.typeIntervention == 2 %} <b>Aide à la finition</b>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Genre :</td>
                            <td>
                                {% if projet.genre == 1 %} <b>Animation</b>
                                {% elseif projet.genre == 2 %} <b>Fiction</b>
                                {% elseif projet.genre == 3 %} <b>Documentaire</b>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Format :</td>
                            <td>
                                {% if projet.format == 1 %} <b>Unitaire</b>
                                {% elseif projet.format == 2 %} <b>Série</b>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Durée :</td>
                            <td>
                                <b>{{ projet.duree }} minutes</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Nombre d'épisodes :</td>
                            <td>
                                <b>{{ projet.episode }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Type support</td>
                            <td>
                                {% if projet.support == 1 %} <b>HD</b>
                                {% elseif projet.support == 2 %} <b>Beta numérique</b>
                                {% elseif projet.support == 3 %} <b>LDV CAM ou DVC PRO</b>
                                {% elseif projet.support == 4 %} <b>Autres</b>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>Réalisateur :</td>
                            <td>
                                <b>{{ projet.realisateur }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Pays du réalisateur :</td>
                            <td>
                                <b>{{ projet.paysRealisateur.libelle }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Nom de la structure :</td>
                            <td>
                                <b>{{ projet.nomStructure }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Montant du capital social :</td>
                            <td>
                                <b>{{ projet.capital }} {{ projet.devise }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Adresse de la structure :</td>
                            <td>
                                <b>{{ projet.adresseStructure }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Code postal :</td>
                            <td>
                                <b>{{ projet.codePostal }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Ville :</td>
                            <td>
                                <b>{{ projet.villeStructure }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Pays :</td>
                            <td>
                                <b>{{ projet.paysStructure.libelle }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Responsable :</td>
                            <td>
                                <b>{{ projet.prenomResponsable }} {{ projet.nomResponsable }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Téléphone :</td>
                            <td>
                                <b>{{ projet.telResponsable }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Email :</td>
                            <td>
                                <b>{{ projet.emailResponsable }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Date de début du projet :</td>
                            <td>
                                <b>{{ projet.dateDeb|date('d/m/Y') }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Date de fin du projet :</td>
                            <td>
                                <b>{{ projet.dateFin|date('d/m/Y') }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Coût total :</td>
                            <td>
                                <b>{{ projet.coutTotal }} €</b>
                            </td>
                        </tr>

                        <tr>
                            <td>Montant demandé à l'OIF :</td>
                            <td>
                                <b>{{ projet.montantDemande }} €</b>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>

                <div class="col-lg-3">
                    {% include 'OIFPlatformBundle:DocumentaireSerie:menu.html.twig' %}
                </div>

            </div>
        </div>
    </div>


{% endblock %}
