{% extends 'OIFCoreBundle::layout.html.twig' %}

{% block title %}Ajouter les fichiers - Commission cinéma | {{ parent() }}{% endblock %}

{# Content #}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Etape 4 : Ajouter des fichiers</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="alert alert-info">Vos fichiers doivent être aux formats (.doc, .docx, .xls, .xlsx ou .pdf). Ils ne doivent pas dépasser 2Mo.</div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}
                    <div class="row">
                        {# Type d'intervention #}
                        <div class="col-md-5 col-md-offset-1">
                            <div class="form-group">
                                <h4>Sélectionner le fichier que vous ajoutez</h4>
                                {{ form_errors(form.noaide) }}
                                {{ form_widget(form.noaide, {'attr': {'class': 'form-control', 'placeholder': 'Support de tournage prévu'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.file) }}
                                {{ form_widget(form.file, {'attr': {'class': 'form-control'} }) }}
                                </div>
                            <div class="form-group pull-right">
                                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-success'} }) }}
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>

                <div class="col-lg-3">
                    {% include 'OIFPlatformBundle:Cinema:menu.html.twig' %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}