{% extends 'OIFCoreBundle::layout.html.twig' %}

{% block title %}Ajouter les fichiers - Commission cinéma | {{ parent() }}{% endblock %}

{# Content #}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Etape 4 : Ajouter des fichiers</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="alert alert-info">Vos fichiers doivent être aux formats (.doc, .docx ou .pdf). Ils ne doivent pas dépasser 2Mo.</div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}
                    <div class="row">
                        {# Type d'intervention #}
                        <div class="col-lg-6 col-lg-offset-1">
                            <div class="form-group">
                                <h4>Sélectionner le fichier que vous ajoutez</h4>
                                {{ form_errors(form.noaide) }}
                                {{ form_widget(form.noaide, {'attr': {'class': 'form-control selectpicker', 'data-style':'btn-info', 'placeholder': 'Support de tournage prévu'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.file) }}
                                {{ form_widget(form.file, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group pull-right">
                                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-success'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-4 pull-right">
                            <small>
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                Pour remplacer un fichier, il vous suffira de le sélectionner dans la liste déroulante et de le retélécharger.
                                <br>
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                Pour supprimer un fichier, cliquez sur la croix rouge, à droite de la ligne du fichier concerné.
                            </small>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <table class="table table-user-information">
                                <thead>
                                <tr>
                                    <th class="text-center">Liste des pièces que vous avez déjà ajouté</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if fichiers is not empty %}
                                    {% for fichier in fichiers %}
                                        <tr>
                                            <td>
                                                {{ fichier.titre }}
                                                <a href="{{ path('oif_platform_cinema_deleteFichier', {'id': fichier.id } ) }}" class="pull-right text-danger" title="Supprimer">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>Vous n'avez encore ajouté aucune pièce.</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    {% include 'OIFPlatformBundle:Cinema:menu.html.twig' %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
{% endblock %}
