{% extends 'OIFCoreBundle::layout.html.twig' %}

{% block title %}Commission cinéma | {{ parent() }}{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                    {% if commission is empty %}
                    <div class="alert alert-danger">
                        <h4>
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> La commission cinéma n'est pas ouverte pour l'instant.
                        </h4>
                    </div>

                    {% else %}
                    <div class="col-md-12">
                        {## ADMIN #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <h2 class="panel-title">
                                <b><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Commission cinéma</b>
                            </h2>

                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            {{ form_errors(form) }}
                            <div class="col-md-4 col-md-offset-1">
                                <div class="row">
                                    {# Titre #}
                                    <div class="form-group">
                                        <h4>Titre :</h4>
                                        {{ form_errors(form.titre) }}
                                        {{ form_widget(form.titre, {'attr':{'placeholder':'Titre de la commission'} }) }}
                                    </div>
                                </div>
                                {# Type #}
                                <div class="row">
                                    <div class="form-group">
                                        <h4>Type de commission :</h4>
                                        {{ form_errors(form.type) }}
                                        {{ form_widget(form.type) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                {# Dates #}
                                <div class="row">
                                    <h4>Dates :</h4>
                                    <div class="form-group">
                                        {{ form_errors(form.dateDeb) }}
                                        {{ form_widget(form.dateDeb, {'attr': {'class': 'js-datepicker', 'placeholder': 'jj/mm/aaaa', 'autocomplete':'off'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(form.dateFin) }}
                                        {{ form_widget(form.dateFin, {'attr': {'class': 'js-datepicker', 'placeholder': 'jj/mm/aaaa', 'autocomplete':'off'} }) }}
                                    </div>
                                </div>
                                {# Etat #}
                                <div class="row">
                                    <div class="form-group">
                                        {{ form_errors(form.etat) }}
                                        {{ form_widget(form.etat) }}
                                    </div>
                                </div>
                                {# Activation automatique #}
                                <div class="row">
                                    <div class="form-group">
                                        {{ form_errors(form.activation) }}
                                        {{ form_widget(form.activation) }}
                                    </div>
                                </div>
                                {# Valider #}
                                <div class="row">
                                    <div class="form-group">
                                        {{ form_widget(form.valider, {'attr': {'class': 'btn btn-info'} }) }}

                                        <a href="{{ path('oif_platform_delete_commission', {'id':commission.id}) }}" class="btn btn-danger pull-right">Supprimer</a>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>

                            {# Liste des projets soumis #}
                            <div class="col-md-12">
                                <blockquote>
                                    <h4>Projets soumis</h4>
                                </blockquote>
                                <hr>
                                {############ Liste des projets soumis #}
                                {% if commission.projetsCinemas is not empty %}
                                    <table class="table table-striped">
                                        <tbody>
                                        {% for projet in commission.projetsCinemas %}
                                            <tr>
                                                <td>
                                                    <h4>
                                                        <a href="{{ path('oif_platform_cinema_view', {'id': projet.id }) }}" target="_blank">
                                                            {{ projet.titre }}
                                                        </a>
                                                    </h4>
                                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ projet.user.firstname }} {{ projet.user.name }} ({{ projet.user.email }})
                                                    <br>
                                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <b>{{ projet.nomStructure }}</b> | Responsable : <b>{{ projet.prenomResponsable }} {{ projet.nomResponsable }}</b> ({{ projet.paysRealisateur.libelle }})
                                                    <br>
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Envoyé le <b>{{ projet.dateCreation|date('d/m/Y') }}</b>

                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-warning">Télécharger</a>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-success">Accepter</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="alert alert-warning">Aucun projet n'est déposé pour l'instant.</div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {## USER #}
                        {% if is_granted('ROLE_USER') %}
                            <div class="col-md-12 text-center">
                                <hr>
                                <h4>Désormais, la soumission de dossiers au Fonds Image de la Francophonie se fait par dépôt de fichiers électroniques sur ce site sécurisé.</h4>
                                <a href="{{ path('oif_platform_cinema_add') }}" class="btn btn-primary">Ajouter un projet</a>
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                <div class="col-lg-3">
                    {% include 'OIFPlatformBundle:Commission:menu.html.twig' %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'OIFCoreBundle:Core:js_datePicker.html.twig' %}
{% endblock %}
