{% trans_default_domain 'FOSUserBundle' %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h5>Modifier mon profil</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-4 col-md-offset-1">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_profile_edit'}}) }}
                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}

                    {# Identifiant #}
                    <div class="form-group">
                        <h5>Identifiant </h5>
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Identifiant'} }) }}
                    </div>

                    {# Email #}
                    <div class="form-group">
                        <h5>Email </h5>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                    </div>

                    {# Prénom #}
                    <div class="form-group">
                        <h5>Prénom </h5>
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                    </div>

                    {# Nom #}
                    <div class="form-group">
                        <h5>Nom </h5>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                    </div>

                    {# Téléphone #}
                    <div class="form-group">
                        <h5>Téléphone </h5>
                        {{ form_errors(form.phone) }}
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone fixe'} }) }}
                    </div>

                    {# Portable #}
                    <div class="form-group">
                        <h5>Portable </h5>
                        {{ form_errors(form.cellular) }}
                        {{ form_widget(form.cellular, {'attr': {'class': 'form-control', 'placeholder': 'Portable'} }) }}
                    </div>

                    {# Pays #}
                    <div class="form-group">
                        <h5>Pays </h5>
                        {{ form_errors(form.pays) }}
                        {{ form_widget(form.pays) }}
                    </div>

                    {# Activité #}
                    <div class="form-group">
                        <h5>Activité </h5>
                        {{ form_errors(form.activite) }}
                        {{ form_widget(form.activite) }}
                    </div>

                    {# informations #}
                    <div class="form-group">
                        <h5>Informations </h5>
                        {{ form_errors(form.informations) }}
                        {{ form_widget(form.informations, {'attr': {'class': 'form-control', 'placeholder': 'Pourquoi cette demande d\'inscription ?'} }) }}
                    </div>

                </div>

                <div class="col-md-4 col-md-offset-1">
                    {# website #}
                    <div class="form-group">
                        <h5>Website </h5>
                        {{ form_errors(form.website) }}
                        {{ form_widget(form.website, {'attr': {'class': 'form-control', 'placeholder': 'Site web'} }) }}
                    </div>

                    {# facebook #}
                    <div class="form-group">
                        <h5>Facebook </h5>
                        {{ form_errors(form.facebook) }}
                        {{ form_widget(form.facebook, {'attr': {'class': 'form-control', 'placeholder': 'Facebook'} }) }}
                    </div>

                    {# twitter #}
                    <div class="form-group">
                        <h5>Twitter </h5>
                        {{ form_errors(form.twitter) }}
                        {{ form_widget(form.twitter, {'attr': {'class': 'form-control', 'placeholder': 'Twitter'} }) }}
                    </div>

                    {# linkedin #}
                    <div class="form-group">
                        <h5>LinkedIn </h5>
                        {{ form_errors(form.linkedin) }}
                        {{ form_widget(form.linkedin, {'attr': {'class': 'form-control', 'placeholder': 'Linkedin'} }) }}
                    </div>

                    {# autorisation #}
                    <div class="form-group">
                        {{ form_errors(form.autorisation) }}
                        {{ form_widget(form.autorisation) }}
                    </div>

                    {{ form_rest(form) }}

                    {# valider #}
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="btn btn-success pull-right" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endif %}

